@import url('fonts/inter/inter-display.css');
html { font-family: 'InterDisplay', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'InterDisplay var', sans-serif; }
}
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	letter-spacing: .005em;
        font-variant-ligatures: contextual;
        -moz-font-feature-settings: 'calt';
        -webkit-font-feature-settings: 'calt';
        font-feature-settings: 'calt';
}
body {
	background: #f5f5f5;
	color: #050505;
	-webkit-font-smoothing: antialiased;
}
a {
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
#content {
	max-width: 512px;
	margin: 0 auto;
	padding: 64px 32px;
}
.section {
	margin-bottom: 64px;
}
.section:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.me {
	width: 48px;
	height: 48px;
	border-radius: 24px;
	margin-bottom: 12px;
}
h1 {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 8px;
}
h2 {
	font-weight: 450;
	font-size: 20px;
	line-height: 24px;
}
.link {
	font-size: 18px;
	line-height: 20px;
	margin-right: 12px;
	font-weight: 450;
}
.links .link {
	margin-right: 0;
	display: block;
	margin-bottom: 16px;
}
h6 {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 24px;
}
h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 2px;
}
p {
	font-size: 18px;
	font-weight: 450;
	color: rgba(0, 0, 0, .64);
}
ul li {
	margin-bottom: 32px;
}
ul li:last-of-type {
	margin-bottom: 0;
}
@media screen and (max-width:400px) {
    p {
	line-height: 26px;
    }
    .long {
	line-height: 32px;
	margin-top: -4px;
	margin-bottom: 12px !important;
    }
}
h2.logo {
	display: inline-block;
}
svg.logo {
	display: inline-block;
	position: absolute;
	margin-top: .07em;
	margin-left: .35em;
}
